version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: ylab-postgres
    environment:
      POSTGRES_DB: marketplace_db
      POSTGRES_USER: marketplace_user
      POSTGRES_PASSWORD: marketplace_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - marketplace-network

volumes:
  postgres_data:

networks:
  marketplace-network:
    driver: bridge
